.formControl{

}

.formControl.error input, 
.formControl.error textarea {
  border: 1px solid red;
}

.formControl.error span{
  color: red;
}
.formSUmmeryError { 
  border: 1px solid red;
  padding: 5px;
  color: brown;
  margin-bottom: 5px;
}
.loginForm{
  max-width: 400px;
}