.userPhoto {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

.buttonFollow {
  margin-right: 5px;
}

.searchFormUser {
  padding: 6px 10px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  margin-right: 2px;
  position: relative;
  top: 0px;
}

.blockUsersList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1px;
  justify-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  max-width: 100%;
}

.oneUserSearch {
  display: grid;
  justify-items: center;
  padding: 10px;
  width: 100%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 2px;

}

.oneUserSearch :hover {
  cursor: pointer;
}

.status {
  min-height: 22px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.nameUser {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.errorFiledMessage {
  color: red;

}

.errorField {
  display: inline-grid;
}