
.userHeaderPhoto{
  border-radius: 50px;
  width: 30px;
}
.textLogin{
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  float: left;
  margin-right: 7px;
}