.image {
  max-width: 400px;
}
.descri_pbloxk{
  padding: 10px;
}
.mainPhoto{
 max-width:  150px;
}
.contact{
 padding-left: 10px;
}
.formSUmmeryError { 
  border: 1px solid red;
  padding: 5px;
  color: brown;
}