/* main */
.app-wraper {
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
/* header */
.header{
  grid-area: h;
  background-color: red;
}
.header img {
  width: 20px;
}
/* sidebar */
.nav{
  grid-area: n;
  background-color: green;
}

/* content  */
.content{
  grid-area: c;
  background-color: rgb(126, 126, 126);
}
.content img {
  max-width: 400px;
}